<template>
  <v-flex v-if="!isLoading">
    <v-card>
      <v-card-title>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Axtar"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        item-key="name"
        :headers="headers"
        :items="posts"
        :loading="isLoading"
        :search="search"
        :pagination.sync="pagination"
        class="elevation-1">
        <v-progress-linear v-slot:progress color="blue" indeterminate></v-progress-linear>
        <template v-slot:no-data>
          <v-alert :value="true" color="error" icon="warning">
            Heç bir məqalə yoxdur.
          </v-alert>
        </template>
        <template v-slot:items="props">
          <td>{{ props.item.title }}</td>
          <td>{{ props.item.category_name }}</td>
          <td>{{ props.item.create_date }}</td>
          <td class="text-xs-right">
            <v-icon
              small
              class="mr-2"
              @click="editItem(props.item)"
            >
              edit
            </v-icon>
            <v-icon
              small
              class="mr-2"
              @click="deleteItem(props.item)"
            >
              delete
            </v-icon>
          </td>
        </template>
        <template v-slot:no-results>
          <v-alert :value="true" color="error" icon="warning">
            "{{ search }}" sözünə uyğun heç bir nəticə tapılmadı.
          </v-alert>
        </template>
      </v-data-table>
    </v-card>
    <v-btn
      style="bottom:50px;"
      color="pink"
      dark
      absolute
      bottom
      right
      fab
      @click="createPost"
    >
      <v-icon>add</v-icon>
    </v-btn>
  </v-flex>
  <loading-state-component v-else></loading-state-component>
</template>

<script>
import decodeEntities from 'decode-entities';
import loadingState from '../../components/LoadingStateComponent'

export default {
  name: 'Panel',
  data() {
    return {
      isLoading: true,
      search: '',
      selected: [],
      pagination: {
        rowsPerPage: 10,
      },
      headers: [
        {
          text: 'Ad',
          align: 'left',
          value: 'title',
        },
        {
          text: 'Kateqoriya',
          align: 'left',
          value: 'category_name',
        },
        {
          text: 'Tarix',
          align: 'left',
          value: 'create_date',
        },
        {
          text: 'Əməliyyatlar',
          align: 'right',
          sortable: false,
          value: 'iron',
        },
      ],
      posts: [],
    };
  },
  components: {
    "loadingStateComponent": loadingState
  },
  methods: {
    init() {
      const self = this;

      axios.post(`${API_URL}/panel/getAllPosts`)
        .catch(err => {
          // TODO: create error handler
        })
        .then(response => {
          if (response && response.data) {
            let data = response.data;
            for(let i=0;i<data.length;i++) {
              data[i].title = decodeEntities(data[i].title);
            }

            self.posts = data;
            self.isLoading = false;
          }
        });
    },
    createPost() {
      this.$router.push('/panel/createPost');
    },
    editItem(item) {
      this.$router.push(`/panel/updatePost/${item.id}`);
    },
    deleteItem(item) {
      let self = this;

      let posts = self.posts.filter(v => {
        return v.id !== item.id;
      });

      if (confirm('Məqaləni silmək istədiyinizdən əminsiniz?')) {
        axios.post(`${API_URL}/panel/deletePost`, {id: item.id})
          .catch(e => {
            alert("Nə isə yanlış gedir :(");
          })
          .then(r => {
            if (r && r.data.status === 'success') {
              self.posts = posts;
            }
            else alert('Məqalə silinə bilmədi.');
          });
      }
    },
  },
  mounted() {
    const self = this;

    axios.post(`${API_URL}/authenticate`)
      .then(r => {
        if (r && r.data.status == 'success') {
          self.init();
        } else self.$router.push('/404');
      });
  },
};
</script>

<style scoped>

</style>
