<template>
  <v-flex v-if="!isLoading">
    <v-card class="card" v-for="post in posts">
      <v-card-title primary-title>
        <div style="max-width: 100%">
          <h3 class="headline mb-0" v-html="post.title"></h3>
          <div class="card-text" v-html="post.content"></div>
        </div>
      </v-card-title>
      <v-card-actions>
        <v-btn flat color="brown">
          <router-link class="postButton" :to="'/oxu/'+post.id">Ardını oxu</router-link>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-flex>
  <loading-state-component v-else></loading-state-component>
</template>

<script>
  import loadingState from '../components/LoadingStateComponent'

  export default {
    name: 'home',
    data() {
      return {
        posts: [],
        isLoading: true
      };
    },
    methods: {
      /*goToPost(id) {
        this.$router.push(`/oxu/${id}`);
      },*/
    },
    components: {
      "loadingStateComponent": loadingState
    },
    mounted() {
      axios.post(`${API_URL}/getPosts`)
        .catch((err) => {
          // TODO: create error handler
        })
        .then((response) => {
          this.posts = response.data;
          this.isLoading = false;
        });
    },
  };
</script>


<style scoped>
  .card {
    margin-bottom: 20px;
  }

  .card-text {
    line-height: 1.5em;
    max-height: 12em;
    overflow-y: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: pre-line;
  }

  .card-text >>> pre{
    overflow-x: auto;
  }
  .post-body >>> pre ol {
    padding-left: 30px !important;
  }

  .postButton{
    color: #795548!important;
    text-decoration: none;
  }
</style>
