<template>
  <v-flex v-if="!isLoading">
    <h1 class="mt-4 font-weight-light" v-html="post.title"></h1>

    <v-divider></v-divider>

    <p class="mt-4">Tarix: {{post.create_date}}</p>

    <v-divider></v-divider>

    <div v-html="post.content" class="post-body mt-4"></div>

    <template>
      <div class="comments">
        <vue-disqus shortname="nicat-org" :identifier="'post-'+post.id" :url="fullPath"></vue-disqus>
      </div>
    </template>

  </v-flex>
  <loading-state-component v-else></loading-state-component>
</template>

<script>
  import loadingState from '../components/LoadingStateComponent'

  export default {
    name: 'post',
    data() {
      return {
        isLoading: true,
        post: {
          title: null,
          create_date: null,
          content: null,
        },
        fullPath: FULL_PATH + this.$route.fullPath
      };
    },
    components: {
      "loadingStateComponent": loadingState
    },
    watch: {
      'post.create_date': function (val) {
        this.post.create_date = val.split('T')[0];
      },
    },
    mounted() {
      const self = this;

      window.axios.post(`${API_URL}/getPostByID`, {id: self.$route.params.id})
        .catch((err) => {
          // TODO: create error handler
        })
        .then((response) => {
          if (response.data) {
            self.post = response.data;
            self.isLoading = false;

            //region meta keywords
            const metas = document.getElementsByTagName('meta');

            for (let i = 0; i < metas.length; i++) {
              if (metas[i].getAttribute('name') === "keywords") {
                metas[i].setAttribute('content', self.post.keywords);
                break;
              }
            }

            document.title = `${self.post.title} | Nicat.org`;
            //endregion
          } else self.$router.push('/404');
        });
    },
  };
</script>

<style scoped>
  .post-body {
    white-space: pre-wrap;
    margin-bottom: 50px;
  }

  .post-body >>> pre{
    overflow-x: auto;
  }
  .post-body >>> pre ol {
    padding-left: 30px !important;
  }
</style>
