<template>
  <v-footer class="pa-3">
    <v-spacer></v-spacer>
    <div>&copy; 2017 - {{ new Date().getFullYear() }}</div>
  </v-footer>
</template>

<script>
export default {
  name: 'FooterComponent',
  data() {
    return {
      currentYear: new Date().getFullYear(),
    };
  },
};
</script>
