<template>
  <v-flex>
    <v-card style="padding: 30px;">
      <v-form>
        <v-text-field
          v-model="post.title"
          label="Başlıq"
          :error-messages="titleErrors"
          :counter="255"
          @input="$v.post.title.$touch()"
          @blur="$v.post.title.$touch()"
          required
        ></v-text-field>

        <v-select
          v-model="post.selectedCategory"
          :items="categories"
          item-text="name" item-value="id"
          :error-messages="categoryErrors"
          label="Kateqoriya"
          required
        ></v-select>

        <v-combobox
          v-model="post.keywords"
          :items="defaultKeywords"
          :search-input.sync="search"
          hide-selected
          :hint="'Maksimum ' + maximumKeywords + ' açarsöz'"
          label="Açarsöz əlavə edin"
          multiple
          persistent-hint
          small-chips
        >
          <template v-if="post.keywords.length < 10" v-slot:no-data>
            &nbsp;<kbd>enter</kbd> düyməsinə basaraq, "<strong>{{ search }}</strong>" açarsözünü daxil edin
          </template>
        </v-combobox>

        <h4 class="pb-2 subheading" :class="$v.post.content.$error ? 'red--text' : ''">
          Məzmun
          <a href="https://highlight.hohli.com" target="_blank" style="float:right;">Code Highlight</a>
        </h4>

        <jodit-vue class="mt-2" v-model="post.content" />

        <v-btn color="success" @click="submit">
          Təsdiqlə
        </v-btn>

      </v-form>
    </v-card>
  </v-flex>
</template>

<script>
import Vue from 'vue';
import Vuelidate from 'vuelidate';
import { required } from 'vuelidate/lib/validators';
import JoditVue from 'jodit-vue';
import 'jodit/build/jodit.min.css';

Vue.use(Vuelidate);

export default {
  name: "PostFormComponent",
  data() {
    return {
      post: {
        title: null,
        content: '',
        keywords: [],
        selectedCategory: null,
      },
      categories: [],
      defaultKeywords: ['javascript', 'php', 'java', 'python'],
      maximumKeywords: 10,
      search: null,
    };
  },
  props: {
    postData: Object
  },
  watch: {
    "post.keywords"(val) {
      if (val.length > this.maximumKeywords) {
        this.$nextTick(() => this.post.keywords.pop());
      }
    },
  },
  computed: {
    titleErrors() {
      const errors = [];
      if (!this.$v.post.title.$dirty) return errors;

      !this.$v.post.title.required && errors.push('Başlıq daxil edin');

      return errors;
    },
    categoryErrors() {
      const errors = [];

      if (!this.$v.post.selectedCategory.$dirty) return errors;

      !this.$v.post.selectedCategory.required && errors.push('Kateqoriya seçin');

      return errors;
    },
  },
  components: {
    'jodit-vue': JoditVue,
  },
  validations: {
    post: {
      title: {
        required,
      },
      content: {
        required,
      },
      selectedCategory: {
        required,
      },
      keywords: {
        required,
      },
    },
  },
  methods: {
    submit() {
      const vue = this;

      vue.$v.$touch();

      if (vue.$v.$invalid) return;

      vue.$emit("passPostData", vue.post);
    },
  },
  mounted() {
    this.post = this.postData;

    axios.post(`${API_URL}/panel/getCategories`)
      .then((r) => {
        if (r) this.categories = r.data;
      });
  }
};
</script>

<style scoped>

</style>
